@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* colors */
  --deep-green: #038e7d;
  --grey: #edeff2;
  --placeholder: #646e7a;
  --heading: #1d2c3c;
  --line: #edeff2;
  --white: #ffffff;
  --light-blue: #548bc5;
  --bg: #f5f8fa;
  --border: #1d2c3c;
  --blue: #1179bf;

  /* typography */
  --ff: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--bg);
  font-family: var(--ff);
}

header {
  padding: 0 40px;
}

.header-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--line);
}

.nav-list {
  display: flex;
  padding: 12px 0;
  gap: 30px;
}

.nav-item {
  color: #1d2c3c;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
  padding: 12px 20px;
  border: 2px solid transparent;
  border-radius: 6px;
}

.nav-item:hover,
.nav-item:focus {
  border: 2px solid var(--border);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
}

.white-bg {
  background: var(--white);
  padding: 40px 0;
  border-radius: 6px 0 0 6px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05),
    0px 15px 35px 0px rgba(43, 64, 78, 0.1);

  > div {
    padding: 30px 40px;
  }
}

.blue-bg {
  background: #1179bf;
}

.white-bg-heading {
  color: #1d2c3c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: var(--ff);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 40px 30px 40px;
}

.second-div {
  padding: 30px 0;
}

.circle-num {
  color: var(--light-blue);
  border: 2px solid var(--light-blue);
  padding: 4px 9px;
  border-radius: 50%;
}

.circle-div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.circle-text {
  color: #1d2c3c;
  font-family: var(--ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.16px;
}

.second-div {
  border-bottom: 1px solid var(--line);
  border-top: 1px solid var(--line);
}

form {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

label {
  color: #1d2c3c;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  border-radius: 4px;
  background: var(--grey);
  border: transparent;
  padding: 10px 12px;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* input::-webkit-datetime-edit-fields-wrapper, */
/* input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator  {
  -webkit-appearance: none;
  display: none;
  color: blue;
} */


/* input::-webkit-datetime-edit,
input::-webkit-datetime-edit-text,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-year-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-calendar-picker-indicator {
  display: none;
} */

.fullname {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  > .input-wrapper {
    width: 48%;
  }
}

.payment {
  display: flex;
  border-radius: 4px;
  background: #edeff2;
  width: fit-content;
  padding: 8px;

  > input {
    background: inherit;
    border: none;
  }

  > input ::placeholder {
    color: #646e7a;
  }
}

.card-num {
  width: 70%;
  padding: 0;
}

.date {
  width: 20%;
  padding: 0;
}

.cvv {
  width: 10%;
  padding: 0;
}

.third-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn-wrapper {
  padding: 0 40px;
}

.submit-btn {
  border-radius: 5px;
  background: var(--deep-green);
  color: var(--white);
  text-align: center;
  font-family: var(--ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.396px;
  padding: 13px 0 17px 0;
  width: 100%;
  border: none;
  cursor: pointer;
}

.form-text {
  color: #646e7a;
  font-family: var(--ff);
  font-size: 14px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
  letter-spacing: -0.01px;

  > span {
    font-weight: 700;
    color: var(--heading);
  }
}

.bold-text {
  font-weight: 700;
}

.fifth-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.sixth-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-bg {
  width: 312px;
  padding: 42px 40px 124px 40px;
  border-radius: 0px 6px 6px 0px;
  background: var(--blue);
  color: var(--white);
}

.blue-bg-heading {
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01px;
}

.pricing-div {
  padding: 20px 0;
}

.pricing {
  display: flex;
  align-items: flex-end;
}

.price-text {
  color: #fff;
  font-family: var(--ff);
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.008px;
  padding-top: 5px;
}

.dollar {
  font-family: var(--ff);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}

.price-num {
  font-family: var(--ff);
  font-size: 60px;
  font-style: normal;
  font-weight: 300 !important;
  line-height: 45px;
  letter-spacing: -0.015px;
}

.year {
  font-family: var(--ff);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.015px;
}

.price {
  display: flex;
  align-items: flex-start;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.feature {
  display: flex;
  gap: 10px;

  > p {
    font-size: 16px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: 24px; /* 150% */
    letter-spacing: -0.008px;
  }
}

.client-div {
  padding: 40px 0;

  > p:first-child {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.008px;
  }

  > p:last-child {
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.008px;
    border-bottom: 3px solid #b9f5ff;
    width: fit-content;
  }
}

.reviews-div {
  padding: 42px 0;
  border-top: 2px solid #b9f5ff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-text {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.009px;

  > .bold-text {
    font-weight: 700;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-image {
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.008px;
}

.footer-text {
  color: #636b6f;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: #31708f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}